@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    color: red;
  }
  25% {
    transform: rotate(10deg);
    color: blue;
  }
  50% {
    transform: rotate(0deg);
    color: yellow;
  }
  75% {
    transform: rotate(-10deg);
    color: orange;
  }
  100% {
    transform: rotate(0deg);
    color: green;
  }
}

.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}
