@font-face {
  font-family: thalib; /* 불러올 폰트의 이름을 정해줌 */
  src: url(./font/Thalib\ Textured.ttf);
}

.font {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-family: thalib;
}
